{escalus_users, [
    {alice, [
        {username, "alice"},
        {server, "localhost"},
        {password, "makota"}]},
    {bob, [
        {username, "bob"},
        {server, "localhost"},
        {password, "makrolika"}]}
]}.

{privacy_lists, [
    {alice_deny_bob, [{"jid", <<"bob@localhost">>, "deny", "1"}]}
]}.
