{ejabberd_node, 'ejabberd@localhost'}.
{ejabberd_cookie, ejabberd}.

{escalus_users, [
    {alice, [
        {username, "alice"},
        {server, "localhost"},
        {password, "makota"}]},
    {bob, [
        {username, "bob"},
        {server, "localhost"},
        {password, "makrolika"}]}
]}.

{ejabberd_node, ejabberd@localhost}.

{timeout, 250}.

{privacy_lists, [
    alice_deny_bob,
    alice_allow_bob,

    alice_deny_bob_message,
    alice_deny_group_message,
    alice_deny_unsubscribed_message,
    alice_deny_all_message,

    alice_deny_bob_presence_in,
    alice_deny_group_presence_in,
    alice_deny_unsubscribed_presence_in,
    alice_deny_all_presence_in,

    alice_deny_bob_presence_out,
    alice_deny_group_presence_out,
    alice_deny_unsubscribed_presence_out,
    alice_deny_all_presence_out,

    alice_deny_localhost_iq,
    alice_deny_group_iq,
    alice_deny_unsubscribed_iq,
    alice_deny_all_iq,

    alice_deny_jid_all,
    alice_deny_group_all,
    alice_deny_unsubscribed_all,
    alice_deny_all_all,

    alice_with_3_items
]}.

{alice_deny_bob,
    [{jid, <<"bob@localhost">>, deny, 1, []}]}.
{alice_allow_bob,
    [{jid, <<"bob@localhost">>, allow, 1, []}]}.

{alice_deny_bob_message,
    [{jid, <<"bob@localhost">>, deny, 1, [message]}]}.
{alice_deny_group_message,
    [{group, ignored, deny, 1, [message]}]}.
{alice_deny_unsubscribed_message,
    [{subscription, none, deny, 1, [message]}]}.
{alice_deny_all_message,
    [{deny, 1, [message]}]}.

{alice_deny_bob_presence_in,
    [{jid, <<"bob@localhost">>, deny, 1, ['presence-in']}]}.
{alice_deny_group_presence_in,
    [{group, ignored, deny, 1, ['presence-in']}]}.
{alice_deny_unsubscribed_presence_in,
    [{subscription, none, deny, 1, ['presence-in']}]}.
{alice_deny_all_presence_in,
    [{deny, 1, ['presence-in']}]}.

{alice_deny_bob_presence_out,
    [{jid, <<"bob@localhost">>, deny, 1, ['presence-out']}]}.
{alice_deny_group_presence_out,
    [{group, ignored, deny, 1, ['presence-out']}]}.
{alice_deny_unsubscribed_presence_out,
    [{subscription, none, deny, 1, ['presence-out']}]}.
{alice_deny_all_presence_out,
    [{deny, 1, ['presence-out']}]}.

{alice_deny_localhost_iq,
    [{jid, <<"localhost">>, deny, 1, [iq]}]}.
{alice_deny_group_iq,
    [{group, ignored, deny, 1, [iq]}]}.
{alice_deny_unsubscribed_iq,
    [{subscription, none, deny, 1, [iq]}]}.
{alice_deny_all_iq,
    [{deny, 1, [iq]}]}.

{alice_deny_jid_all,
    [{jid, <<"bob@localhost">>, deny, 1, []},
     {jid, <<"localhost">>,     deny, 2, []}]}.
{alice_deny_group_all,
    [{group, ignored, deny, 1, []}]}.
{alice_deny_unsubscribed_all,
    [{subscription, none, deny, 1, []}]}.
{alice_deny_all_all,
    [{deny, 1, []}]}.

{alice_with_3_items,
    [{jid, <<"bob@localhost">>,   deny, 1, []},
     {jid, <<"steve@localhost">>, deny, 2, []},
     {jid, <<"john@localhost">>,  deny, 3, []}]}.
