{escalus_users, [
    {alice, [
        {username, "alice"},
        {server, "localhost"},
        {password, "makota"}]},
    {bob, [
        {username, "bob"},
        {server, "localhost"},
        {password, "makrolika"}]}
]}.

{privacy_lists, [
    alice_deny_bob,
    alice_allow_bob,

    alice_deny_bob_message,
    alice_deny_bobgroup_message,
    alice_deny_unsubscribed_message,
    alice_deny_all_message,

    alice_deny_bob_presence_in,
    alice_deny_bobgroup_presence_in,
    alice_deny_unsubscribed_presence_in,
    alice_deny_all_presence_in,

    alice_deny_bob_presence_out,
    alice_deny_bobgroup_presence_out,
    alice_deny_unsubscribed_presence_out,
    alice_deny_all_presence_out,

    alice_deny_localhost_iq,
    alice_deny_bobgroup_iq,
    alice_deny_unsubscribed_iq,
    alice_deny_all_iq,

    alice_deny_bob_all,
    alice_deny_bobgroup_all,
    alice_deny_unsubscribed_all,
    alice_deny_all_all
]}.

{alice_deny_bob,
    [{jid, <<"bob@localhost">>, deny, 1, []}]}.
{alice_allow_bob,
    [{jid, <<"bob@localhost">>, allow, 1, []}]}.

{alice_deny_bob_message,
    [{jid, <<"bob@localhost">>, deny, 1, [message]}]}.
{alice_deny_bobgroup_message,
    [{group, bobgroup, deny, 1, [message]}]}.
{alice_deny_unsubscribed_message,
    [{subscription, none, deny, 1, [message]}]}.
{alice_deny_all_message,
    [{deny, 1, [message]}]}.

{alice_deny_bob_presence_in,
    [{jid, <<"bob@localhost">>, deny, 1, ['presence-in']}]}.
{alice_deny_bobgroup_presence_in,
    [{group, bobgroup, deny, 1, ['presence-in']}]}.
{alice_deny_unsubscribed_presence_in,
    [{subscription, none, deny, 1, ['presence-in']}]}.
{alice_deny_all_presence_in,
    [{deny, 1, ['presence-in']}]}.

{alice_deny_bob_presence_out,
    [{jid, <<"bob@localhost">>, deny, 1, ['presence-out']}]}.
{alice_deny_bobgroup_presence_out,
    [{group, bobgroup, deny, 1, ['presence-out']}]}.
{alice_deny_unsubscribed_presence_out,
    [{subscription, none, deny, 1, ['presence-out']}]}.
{alice_deny_all_presence_out,
    [{deny, 1, ['presence-out']}]}.

{alice_deny_localhost_iq,
    [{jid, <<"localhost">>, deny, 1, [iq]}]}.
{alice_deny_bobgroup_iq,
    [{group, bobgroup, deny, 1, [iq]}]}.
{alice_deny_unsubscribed_iq,
    [{subscription, none, deny, 1, [iq]}]}.
{alice_deny_all_iq,
    [{deny, 1, [iq]}]}.

{alice_deny_bob_all,
    [{jid, <<"bob@localhost">>, deny, 1, []}]}.
{alice_deny_bobgroup_all,
    [{group, bobgroup, deny, 1, []}]}.
{alice_deny_unsubscribed_all,
    [{subscription, none, deny, 1, []}]}.
{alice_deny_all_all,
    [{deny, 1, []}]}.
