[
 {
  elvis,
  [
   {config,
    [#{dirs => ["src"],
       filter => "*.erl",
       ignore => ['ELDAPv3', eldap_filter_yecc],
       ruleset => erl_files,
       rules => [{elvis_text_style, line_length, #{limit => 1000, skip_comments => false}},
                 {elvis_text_style, no_tabs, disable},
                 {elvis_style, atom_naming_convention, disable},
                 {elvis_style, consistent_variable_casing, disable},
                 {elvis_style, dont_repeat_yourself, #{min_complexity => 70}},
                 {elvis_style, export_used_types, disable},
                 {elvis_style, function_naming_convention, disable},
                 {elvis_style, god_modules, #{limit => 300}},
                 {elvis_style, invalid_dynamic_call, disable},
                 {elvis_style, macro_names, disable},
                 {elvis_style, max_function_arity, disable}, % #{max_arity => 15}},
                 {elvis_style, nesting_level, disable},
                 {elvis_style, no_author, disable},
                 {elvis_style, no_boolean_in_comparison, disable},
                 {elvis_style, no_catch_expressions, disable},
                 {elvis_style, no_debug_call, disable},
                 {elvis_style, no_if_expression, disable},
                 {elvis_style, no_import, disable},
                 {elvis_style, no_nested_try_catch, disable},
                 {elvis_style, no_operation_on_same_value, disable},
                 {elvis_style, no_receive_without_timeout, disable},
                 {elvis_style, no_single_clause_case, disable},
                 {elvis_style, no_spec_with_records, disable},
                 {elvis_style, no_throw, disable},
                 {elvis_style, operator_spaces, disable},
                 {elvis_style, param_pattern_matching, disable},
                 {elvis_style, private_data_types, disable},
                 {elvis_style, variable_naming_convention, disable}
                ]
      },

     %#{dirs    => ["include"],
     %  filter  => "*.hrl",
     %  ruleset => hrl_files},

     #{dirs => ["."],
       filter => "Makefile.in",
       ruleset => makefiles,
       rules => [{elvis_text_style, line_length, #{limit => 400,
                                              skip_comments => false}},
                 {elvis_style, dont_repeat_yourself, #{min_complexity => 20}}
                ]
      }
    ]
   }
  ]
 }
].

%% vim: set filetype=erlang tabstop=8:
