[
 {
  elvis,
  [
   {config,
    [#{dirs => ["src"],
       filter => "*.erl",
       ruleset => erl_files,
       rules => [{elvis_style, line_length, #{limit => 100,
                                              skip_comments => false}},
                 {elvis_text_style, no_tabs, disable},
                 {elvis_style, no_debug_call, disable},
                 {elvis_style, operator_spaces, disable},
                 {elvis_style, invalid_dynamic_call, disable},
                 {elvis_style, variable_naming_convention, #{ regex => ".*" }},
		 {elvis_style, dont_repeat_yourself, #{min_complexity => 20}}
		]
      },
     #{dirs => ["."],
       filter => "Makefile.in",
       ruleset => makefiles,
       rules => [{elvis_style, line_length, #{limit => 100,
                                              skip_comments => false}},
                 {elvis_style, no_tabs, disable},
		 {elvis_style, dont_repeat_yourself, #{min_complexity => 20}}
		]
      },
     #{dirs => ["."],
       filter => "rebar.config",
       ruleset => rebar_config,
       rules => [{elvis_style, line_length, #{limit => 100,
                                              skip_comments => false}},
                 {elvis_style, no_tabs, disable},
		 {elvis_style, dont_repeat_yourself, #{min_complexity => 20}}
		]
      }
     }
    ]
   }
  ]
 }
].
