#otp_path: "/usr/lib/erlang"
#plt_path: "_build/default/rebar3_24.3.3_plt"
#code_reload:
#  node: ejabberd@localhost
apps_dirs:
  - "_build/default/lib/*"
deps_dirs:
  - "_build/default/lib/*"
include_dirs:
  - "_build/default/lib"
  - "_build/default/lib/*/include"
  - "include"
macros:
  - name: DEPRECATED_GET_STACKTRACE
  - name: HAVE_ERL_ERROR
  - name: HAVE_URI_STRING
  - name: OTP_BELOW_27
  - name: SIP
  - name: STUN
diagnostics:
  enabled:
    - crossref
  disabled:
#    - dialyzer
    - unused_includes # Otherwise it complains about unused logger.hrl
lenses:
  disabled:
    - ct-run-test
    - function-references
    - server-info
    - show-behaviour-usages
    - suggest-spec
