{erl_opts, [debug_info,
            {i, ["include"]}]}.

{require_otp_vsn, "R1[45]"}.

{sub_dirs, ["apps/ejabberd", "apps/stringprep", "apps/mysql", "rel", "dev"]}.

{deps, [
    {cuesport, ".*", {git, "git://github.com/goj/cuesport.git", {branch, "master"}}},
    {redo, ".*", {git, "git://github.com/JacobVorreuter/redo.git", {branch, "master"}}},
    {lager, ".*", {git, "git://github.com/basho/lager.git", {branch, "master"}}}
]}.

{pre_hooks, [{compile, "make generate_snmp_header"}]}.
