%%%-------------------------------------------------------------------
%%% @author Evgeniy Khramtsov <ekhramtsov@process-one.net>
%%% @copyright (C) 2013, Evgeniy Khramtsov
%%% @doc
%%%
%%% @end
%%% Created :  1 May 2013 by Evgeniy Khramtsov <ekhramtsov@process-one.net>
%%%-------------------------------------------------------------------

{deps, [{if_var_true, lager, {lager, ".*", {git, "git://github.com/basho/lager"}}},
        {if_var_false, lager, {p1_logger, ".*", {git, "git://github.com/processone/p1_logger"}}},
        {cache_tab, ".*", {git, "git://github.com/processone/cache_tab", {tag, "1.0.1"}}},
        {p1_tls, ".*", {git, "https://github.com/processone/tls"}},
        {p1_stringprep, ".*", {git, "git://github.com/processone/stringprep"}},
        {p1_xml, ".*", {git, "https://github.com/processone/xml"}},
        {esip, ".*", {git, "git://github.com/processone/p1_sip"}},
        {p1_stun, ".*", {git, "git://github.com/processone/stun"}},
        {p1_yaml, ".*", {git, "git://github.com/processone/p1_yaml"}},
        {p1_utils, ".*", {git, "git://github.com/processone/p1_utils"}},
        {jiffy, ".*", {git, "git://github.com/davisp/jiffy"}},
        {oauth2, ".*", {git, "https://github.com/prefiks/oauth2.git"}},
        {xmlrpc, ".*", {git, "git://github.com/rds13/xmlrpc"}},
        {if_var_true, mysql, {p1_mysql, ".*", {git, "git://github.com/processone/mysql"}}},
        {if_var_true, pgsql, {p1_pgsql, ".*", {git, "git://github.com/processone/pgsql"}}},
        {if_var_true, sqlite, {sqlite3, ".*", {git, "git://github.com/alexeyr/erlang-sqlite3"}}},
        {if_var_true, pam, {p1_pam, ".*", {git, "git://github.com/processone/epam"}}},
        {if_var_true, zlib, {p1_zlib, ".*", {git, "git://github.com/processone/zlib"}}},
        {if_var_true, riak, {riakc, ".*", {git, "git://github.com/basho/riak-erlang-client"}}},
        {if_var_true, elixir, {rebar_elixir_plugin, ".*", {git, "git@github.com:processone/rebar_elixir_plugin.git"}}},
        {if_var_true, elixir, {elixir, ".*", {git, "git://github.com/elixir-lang/elixir", {branch, "v1.0"}}}},
        {if_var_true, iconv, {p1_iconv, ".*", {git, "git://github.com/processone/eiconv"}}},
        {if_var_true, tools, {meck, "0.8.2", {git, "https://github.com/eproxus/meck", {tag, "0.8.2"}}}},
        {if_var_true, redis, {eredis, ".*", {git, "git://github.com/wooga/eredis"}}}]}.

{erl_opts, [nowarn_deprecated_function,
            {if_var_true, roster_gateway_workaround, {d, 'ROSTER_GATWAY_WORKAROUND'}},
            {if_var_match, db_type, mssql, {d, 'mssql'}},
            {if_var_true, lager, {d, 'LAGER'}},
            {if_var_true, erlang_deprecated_types, {d, 'ERL_DEPRECATED_TYPES'}},
            {if_var_true, hipe, native},
            {src_dirs, [asn1, src,
                        {if_var_true, tools, tools},
                        {if_var_true, elixir, include}]}]}.

{deps_erl_opts, [{if_var_true, hipe, native}]}.

{plugins, [deps_erl_opts,
           {if_var_true, elixir, rebar_elixir_compiler},
           {if_var_true, elixir, rebar_exunit}]}.

{lib_dirs, [{if_var_true, elixir, "deps/elixir/lib"}]}.

{sub_dirs, ["rel"]}.

{keep_build_info, true}.

{xref_warnings, false}.

{xref_checks, [deprecated_function_calls]}.

{xref_exclusions, [
                   "(\"gen_transport\":_/_)",
                   "(\"eprof\":_/_)",
                   {if_var_false, mysql, "(\".*mysql.*\":_/_)"},
                   {if_var_false, pgsql, "(\".*pgsql.*\":_/_)"},
                   {if_var_false, pam, "(\"epam\":_/_)"},
                   {if_var_false, riak, "(\"riak.*\":_/_)"},
                   {if_var_true, riak, "(\"riak_object\":_/_)"},
                   {if_var_false, zlib, "(\"ezlib\":_/_)"},
                   {if_var_false, http, "(\"lhttpc\":_/_)"},
                   {if_var_false, iconv, "(\"iconv\":_/_)"},
                   {if_var_false, odbc, "(\"odbc\":_/_)"},
                   {if_var_false, sqlite, "(\"sqlite3\":_/_)"},
                   {if_var_false, redis, "(\"eredis\":_/_)"}]}.

{eunit_compile_opts, [{i, "tools"}]}.

{post_hook_configure, [{"p1_tls", []},
                       {"p1_stringprep", []},
                       {"p1_yaml", []},
                       {"esip", []},
                       {"p1_xml", [{if_var_true, full_xml, "--enable-full-xml"}]},
                       {if_var_true, pam, {"p1_pam", []}},
                       {if_var_true, zlib, {"p1_zlib", []}},
                       {if_var_true, iconv, {"p1_iconv", []}}]}.

{port_env, [{"CFLAGS", "-g -O2 -Wall"}]}.

{port_specs, [{"priv/lib/jid.so", ["c_src/jid.c"]}]}.
