%% Config file used to set advanced configuration options

[{lager,
   [
      {extra_sinks,
           [
            {object_lager_event,
             [{handlers,
               [{lager_file_backend,
                 [{file, "/var/log/riak/object.log"},
                  {level, info},
                  {formatter_config, [date, " ", time," [",severity,"] ",message, "\n"]}
                 ]
                }]
              },
              {async_threshold, 500},
              {async_threshold_window, 50}]
            }
            ]
      }
    ]},

 {riak_kv, [
    %% Other configs
    {add_paths, ["/usr/lib/ejabberd/ebin"]}
    ]}
].
