{erl_opts, [debug_info,
            {i, ["include"]},
            {parse_transform, lager_transform},
            {platform_define, "R1[45]", no_binary_to_integer}]}.

{require_otp_vsn, "R1[456]"}.

{port_specs,
 [{".*", "priv/lib/tls_drv.so", ["c_src/tls_drv.c"], [{env, [{"LDFLAGS", "$LDFLAGS -lssl"}]}]},
  {".*", "priv/lib/epam.so", ["c_src/epam.c"], [{env, [{"LDFLAGS", "$LDFLAGS -lpam"}]}]},
  {".*", "priv/lib/ejabberd_zlib_drv.so", ["c_src/ejabberd_zlib_drv.c"], [{env, [{"LDFLAGS", "$LDFLAGS -lz"}]}]},
  {".*", "priv/lib/sha_drv.so", ["c_src/sha_drv.c"], [{env, [{"LDFLAGS", "$LDFLAGS -lcrypto"}]}]},
  {".*", "priv/lib/expat_erl.so", ["c_src/expat_erl.c"], [{env, [{"LDFLAGS", "$LDFLAGS -lexpat"}]}]}]}.

{xref_checks, [undefined_function_calls,
               undefined_functions,
               locals_not_used,
               exports_not_used,
               deprecated_function_calls,
               deprecated_functions]}.
