{hosts, "[\"localhost\", \"anonymous.localhost\"]"}.
{host_config, "{host_config, <<\"anonymous.localhost\">>, [{auth_method, anonymous},
                                       {allow_multiple_connections, true},
                                       {anonymous_protocol, both}]}." }.
{outgoing_s2s_port, 5279}.
{s2s_default_policy, allow}.
{sm_backend, "{mnesia, []}"}.
{auth_method, "external"}.
{ext_auth_script, "{extauth_program, \"/tmp/sample_external_auth.py\"}."}.
{tls_config, "{certfile, \"/tmp/server.pem\"}, starttls,"}.
{zlib, "zlib,"}.
