{hosts, "[\"localhost\", \"anonymous.localhost\"]"}.
{host_config, "{host_config, <<\"anonymous.localhost\">>, [{auth_method, anonymous},
                                       {allow_multiple_connections, true},
                                       {anonymous_protocol, both}]}." }.
{outgoing_s2s_port, 5279}.
{s2s_default_policy, allow}.
{sm_backend, "{redis, [{pool_size, 3}, {worker_config, [{host, \"localhost\"}, {port, 6379}]}]}"}.
{auth_method, "internal"}.
{tls_config, "{certfile, \"/tmp/server.pem\"}, starttls,"}.
