{hosts, "[\"localhost\", \"anonymous.localhost\"]"}.
{host_config, "{host_config, \"anonymous.localhost\", [{auth_method, anonymous},
                                       {allow_multiple_connections, true},
                                       {anonymous_protocol, both}]}." }.
{outgoing_s2s_port, 5279}.
{host_config, "" }.
{odbc_server, "{odbc_server, {mysql, \"localhost\", \"ejabberd\", \"ejabberd\", \"%ODBC_PASSWORD%\"}}."}.
{s2s_default_policy, allow}.
{node_name, "ejabberd@localhost"}.
{ejabberd_c2s_port, 5222}.
{ejabberd_s2s_in_port, 5269}.
{tls_config, "{certfile, \"/tmp/server.pem\"}, starttls,"}.
