{hosts, "[\"localhost\",
          \"anonymous.localhost\",
          \"no.search.modvcard\",
          \"limited.search.modvcard\",
          \"all.search.modvcard\"
         ]"}.
{host_config, "{host_config, \"anonymous.localhost\", [{auth_method, anonymous},
                                       {allow_multiple_connections, true},
                                       {anonymous_protocol, both}]}." }.
{outgoing_s2s_port, 5279}.
{odbc_server, "{odbc_server, {mysql, \"localhost\", \"ejabberd\", \"ejabberd\", \"%ODBC_PASSWORD%\"}}."}.
{s2s_addr, "{ {s2s_addr, \"localhost2\"}, {127,0,0,1} }."}.
{s2s_default_policy, allow}.
{node_name, "ejabberd@localhost"}.
{ejabberd_c2s_port, 5222}.
{ejabberd_s2s_in_port, 5269}.
{tls_config, "{certfile, \"/tmp/server.pem\"}, starttls,"}.
{ {s2s_addr, "localhost2"}, {127,0,0,1} }.
{ {s2s_addr, "michał"}, {127,0,0,1} }.
{module_host_config, "
%% A host with very permissive vcard/user directory search configuration
{host_config, \"all.search.modvcard\",
 [{ {add, modules},
   [{mod_vcard, [{allow_return_all, true},
                 {search_all_hosts, true}
                ]}
   ]}
]}.

%% A host with somewhat limited search configuration
{host_config, \"limited.search.modvcard\",
 [{ {add, modules},
   [{mod_vcard, [{matches, 1},
                 {search_all_hosts, false},
                 {allow_return_all, false},
                 {host, \"directory.@HOST@\"}
                ]}
   ]}
 ]}.

%% A host with vCard but no directory search
{host_config, \"no.search.modvcard\",
 [{ {add, modules},
   [{mod_vcard, [{search, false}
                ]}
   ]}
 ]}.
"}.
{mod_vcard, ""}.
