{% extends "base.html" %}

{% block content %}
				<p>{% if invite.inviter|user %}
            {% blocktrans with inviter=invite.inviter|user %}You have been invited to chat with <strong>{{ inviter }}</strong> on <strong>{{ site_name }}</strong>, part of the XMPP secure and decentralized messaging network.{% endblocktrans %}
            {% else %}
            {% blocktrans %}You have been invited to chat on <strong>{{ site_name }}</strong>, part of the XMPP secure and decentralized messaging network.{% endblocktrans %}
            {% endif %}</p>

				<h5 class="card-title" style="clear:both">{% trans "Get started" %}</h5>

				<p>{% trans "To get started, you need to install an app for your platform:" %}</p>

        {% include "apps.html" %}

				<h5>{% trans "Other software" %}</h5>
				<p>{% blocktrans %}You can connect to {{ site_name }} using any XMPP-compatible software. If your preferred software is not listed above, you may still <a href="{{ registration_url }}">register an account manually</a>.{% endblocktrans %}</p>
{% endblock %}
