{sys, [
       {lib_dirs, ["../apps", "../deps"]},
       {incl_cond, exclude},
       {rel, "ejabberd", "0.1",
        [
         compiler,
         crypto,
         lager,
         ejabberd,
         kernel,
         mnesia,
         public_key,
         sasl,
         ssl,
         stdlib,
         stringprep,
         mysql,
         redo,
         cuesport,
         inets,
         exml,
         cowboy,
         syntax_tools
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "ejabberd"},
       {profile, embedded},
       {excl_archive_filters, [".*"]}, % do no archive built libs
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {app, compiler, [{incl_cond, include}]},
       {app, crypto, [{incl_cond, include}]},
       {app, goldrush, [{incl_cond, include}]},
       {app, lager, [{incl_cond, include}]},
       {app, ejabberd, [{incl_cond, include}]},
       {app, asn1, [{incl_cond, include}]},
       {app, kernel, [{incl_cond, include}]},
       {app, mnesia, [{incl_cond, include}]},
       {app, public_key, [{incl_cond, include}]},
       {app, sasl, [{incl_cond, include}]},
       {app, snmp, [{incl_cond, include}]},
       {app, ssl, [{incl_cond, include}]},
       {app, stdlib, [{incl_cond, include}]},
       {app, stringprep, [{incl_cond, include}]},
       {app, runtime_tools, [{incl_cond, include}]},
       {app, mysql, [{incl_cond, include}]},
       {app, redo, [{incl_cond, include}]},
       {app, cuesport, [{incl_cond, include}]},
       {app, inets, [{incl_cond, include}]},
       {app, exml, [{incl_cond, include}]},
       {app, ranch, [{incl_cond, include}]},
       {app, cowboy, [{incl_cond, include}]},
       {app, bear, [{incl_cond, include}]},
       {app, folsom, [{incl_cond, include}]},
       {app, mochijson2, [{incl_cond, include}]},
       {app, syntax_tools, [{incl_cond, include}]},
       {app, alarms, [{incl_cond, include}]}
      ]}.

{target_dir, "ejabberd"}.

{overlay_vars, "vars.config"}.

{overlay, [
	  {mkdir, "log/sasl"},
	   {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
	   {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {copy, "files/ejabberd", "bin/ejabberd"},
           {copy, "files/ejabberdctl", "bin/ejabberdctl"},
           {copy, "files/app.config", "etc/app.config"},
           {template, "files/vm.args", "etc/vm.args"},
           {template, "files/ejabberd.cfg", "etc/ejabberd.cfg"},
           {mkdir, "var"},
           {mkdir, "var/log"}
          ]}.
