{hosts, "[\"localhost\"]"}.
{host_config, ""}.
{odbc_server, ""}.
{s2s_addr, "%% { {s2s_addr, \"example-host.net\"}, { {127,0,0,1}, 5269 } }."}.
{s2s_default_policy, deny}.
{outgoing_s2s_port, 5269}.
{node_name, "ejabberd@localhost"}.
{ejabberd_c2s_port, 5222}.
{ejabberd_s2s_in_port, 5269}.
{mod_snmp,   "%% CAUTION: serious performance problems have been found in the snmp_rt module\n"
           "  %% which is part of the ejabberd SNMP implementation. It's advised not to use\n"
           "  %% SNMP statistics until a fix is released or at least use it with option\n"
           "  %%     {rt_enabled, false}\n"
           "  %% as shown below. Some counters will always return 0 because of that.\n"
           "  %%, {mod_snmp, [{modules, []}, {rt_enabled, false}]}"}.
{sm_backend, "{mnesia, []}"}.
{auth_method, "internal"}.
{ext_auth_script, "%%{extauth_program, \"/path/to/authentication/script\"}."}.
{tls_config, "%%{certfile, \"/path/to/ssl.pem\"}, starttls,"}.
{wss_config, "%%,{cert, \"priv/server.crt\"}, {key, \"priv/server.key\"}, {key_pass, \"\"}"}. %% PEM format
{zlib, ""}.
