{hosts, "[\"localhost\"]"}.
{host_config, ""}.
{odbc_server, "{odbc_server, {mysql, \"localhost\", \"ejabberd\", \"ejabberd\", \"%ODBC_PASSWORD%\"}}."}.
{s2s_default_policy, deny}.
{outgoing_s2s_port, 7892}.
{node_name, "ejabberd@localhost"}.
{ejabberd_c2s_port, 5222}.
{ejabberd_s2s_in_port, 5269}.
{mod_snmp, ", {mod_snmp,     [{modules, []}, {rt_enabled, true}]}"}.
{sm_backend, "{redis, [{pool_size, 3}, {worker_config, [{host, \"localhost\"}, {port, 6379}]}]}"}.
{auth_method, "internal"}.
{ext_auth_script, "%%{extauth_program, \"/path/to/authentication/script\"}."}.
{tls_config, "%%{certfile, \"/path/to/ssl.pem\"}, starttls,"}.
