[
{lager, [
    {handlers, [
        {lager_console_backend, [info, {lager_default_formatter,[{eol, "\r\n"}]}]},
        %% file is shadowed by ejabberd.cfg
        {lager_file_backend, [{file, "log/ejabberd.log"}, {level, info}, {size, 2097152}, {date, "$D0"}, {count, 5}]}
    ]}
  ]}
].

%% vim: filetype=erlang
